<div class="row">
  <h1><%= @result['ats']['job_listing']['title'] %></h1>
  <h4><%=  @result['ats']['job_listing']['city']%>, <%= @result['ats']['job_listing']['state'] %></h4>
  <br />
  <h3><%= @result['ats']['job_listing']['company'] %></h3>
  <h6>(<%= @result['ats']['job_listing']['company_city'] %>, <%= @result['ats']['job_listing']['company_state'] %>)</h6>
  <br />
  <p><%=  @result['ats']['job_listing']['description']%></p>
  <br/>
  <p>If interested, please email: <%= mail_to @result['ats']['job_listing']['email'], nil, :replace_at => " at ", :replace_dot => " dot ", :subject => 'Interest in '+@result['ats']['job_listing']['title'] + ' position at '+ @result['ats']['job_listing']['company']%>
  
  <p>Posted on: <%= @result['ats']['job_listing']['posted_date'].to_date %>
</div>

<hr>

<p>API return: <code><%= @result %></code></p>